# 02_entiry-extract

## read stored data from DataPlatform

In [17]:
from dsmlibrary.datanode import DataNode
import json
from tqdm.auto import tqdm
import pandas as pd

In [18]:
dir_raw_id = 60
dir_process_id = 61

In [19]:
datanode = DataNode()

Init DataNode sucessful!

In [ ]:
meta, fp = datanode.get_file(datanode.get_file_id(directory_id=dir_raw_id, name='exporting_durians_the_bangkok_insight.json'))
meta

In [ ]:
data = json.load(fp)
data

In [22]:
df = pd.json_normalize(data)
df.head()

,title,content,source_url,publish_date,retrieve_date
0,ข่าวดีชาวสวน จีนเปิดครบทุกด่านแล้ว ส่งออกทุเรี...,“อลงกรณ์” เผยข่าวดี จีนเปิดทุกด่านครบแล้ววันนี...,https://www.thebangkokinsight.com/news/busines...,2022-04-29,2022-11-15
1,ไทยส่งออกทุเรียนทุบสถิติครั้งใหม่ มูลค่าแซงหน้...,ไทยเป็นผู้ส่งออกทุเรียนสดอันดับ 1 ของโลก ล่าสุ...,https://www.thebangkokinsight.com/news/busines...,2021-06-25,2022-11-15
2,เร่งขึ้นทะเบียน ‘GAP’ ยกระดับ ‘สวนทุเรียน’ ผนึ...,เร่งขึ้นทะเบียน ‘GAP’ ยกระดับ ‘สวนทุเรียน’ ผนึ...,https://www.thebangkokinsight.com/news/busines...,2022-11-13,2022-11-15
3,ใช้ ‘GAP Monkey Free Plus’ แก้ปัญหา ‘ถูกกีดกัน...,กรมวิชาการเกษตร ใช้ ‘GAP Monkey Free Plus’ แก้...,https://www.thebangkokinsight.com/news/busines...,2022-08-18,2022-11-15
4,นายกฯ แฮปปี้ ส่งออก ‘ทุเรียนไทย’ ไปจีน ทะลุเป้...,นายกฯ แฮปปี้ ส่งออก ‘ทุเรียนไทย’ ไปจีน ทะลุเป้...,https://www.thebangkokinsight.com/news/busines...,2022-06-24,2022-11-15

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          34 non-null     object
 1   content        34 non-null     object
 2   source_url     34 non-null     object
 3   publish_date   34 non-null     object
 4   retrieve_date  34 non-null     object
dtypes: object(5)
memory usage: 1.5+ KB

In [24]:
df[['publish_date', 'retrieve_date']] = df[['publish_date', 'retrieve_date']].astype('datetime64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          34 non-null     object
 1   content        34 non-null     object
 2   source_url     34 non-null     object
 3   publish_date   34 non-null     datetime64[ns]
 4   retrieve_date  34 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(3)
memory usage: 1.5+ KB

## write DataNode to DataPlatform

In [ ]:
datanode.write(df=df, 
               directory=dir_process_id, 
               name="News Exporting Durians from The Bangkok Insight", 
               profiling=True, 
               lineage=[datanode.get_file_id(directory_id=dir_raw_id, name='exporting_durians_the_bangkok_insight.json')])